body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(imagess/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction:unset;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}
@keyframes animate{
    0%{background-image: url(images/6.jpg)
   }
   20%{
    background-image: url(imagess/7.jpg)
   }
   30%{
    background-image: url(imagess/10.jpg)
   }
   40%{
    background-image: url(imagess/9.jpg)
   }
   50%{
    background-image: url(imagess/6.jpg)
   }
   60%{
    background-image: url(imagess/5.jpg)
   }
   70%{
    background-image: url(imagess/3.jpg)
   }
   80%{
    background-image: url(imagess/2.jfif)
   }
   90%{
    background-image: url(imagess/4.jpg)
   }
   100%{
    background-image: url(imagess/8.png)
   }
}