body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(imagess/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction:unset;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}
.outer{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    
}
@keyframes animate{
    0%{background-image: url(images/6.jpg)
   }
   12%{
    background-image: url(imagess/7.jpg)
   }
   24%{
    background-image: url(imagess/10.jpg)
   }
   36%{
    background-image: url(imagess/9.jpg)
   }
   48%{
    background-image: url(imagess/5.jpg)
   }
   60%{
    background-image: url(imagess/3.jpg)
   }
   82%{
    background-image: url(imagess/12.jpg)
   }
   100%{
    background-image: url(imagess/8.png)
   }
}