*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
} 

.about-section{
    background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),url(readingbooks.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 30px;
    
}